.dashboard {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: $lightest-gray;
}

.dashboard-head {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  h2 {
    font-weight: 400;
  }

  .task-search {
    width: 730px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .fa-search {
    top: 32px;
  }

  .fa-times-circle {
    top: 32px;
  }
}

.user-greeting {
  display: flex;
  align-items: center;
}

.dashboard-body-header {
  margin-top: 40px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-weight: 400;
}

.dashboard-task {
  border: 1px solid $light-gray;
  background: white;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 60px;
  margin-right: 60px;
  font-size: 17px;
}

.dashboard-task-header {
  display: flex;
  justify-content: space-between;
  padding: 18px 25px 18px 25px;
}

.cancel-task-link {
  font-size: 16px;
}

.dashboard-task-header-title {
  font-size: 28px;
  font-weight: 400;
}

.dashboard-body-header-container {
  border-bottom: 1px solid $light-gray;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.dashboard-body {
  width: 930px;
  margin-bottom: 70px;
}

.user-profile-img {
  border-radius: 100%;
  height: 55px;
  width: 55px;
  margin-right: 20px;
}

.tasker-profile-img {
  border-radius: 100%;
  height: 40px;
  width: 40px;
}

.cancel-task-link {
  margin-left: 20px;
}

.tasker-cancel-section {
  vertical-align: middle;
}

.dashboard-task-status {
  background-color: $lightest-gray;
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  border-left: 5px solid $light-orange;
  display: flex;
  justify-content: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-size: 15px;
}

.date-time-section-day {
  font-size: 24px;
  font-weight: 300;
}

.date-section {
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 45px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-right: 1px solid $light-gray;
  width: 6%;
}

.date-time-section {
  display: flex;
  align-items: center;
}

.time-section {
  margin-left: 12px;
}

.dashboard-task-body {
  border-top: 1px solid $light-gray;
  padding: 20px 28px 20px 28px;
}

.dashboard-task-body-location {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.fa-map-marker {
  font-size: 24px;
  color: $dark-gray;
  margin-right: 10px;
}

.location-tasker-price-section {
  display: flex;
  // justify-content: space-between;
}

.dashboard-task-mini-header {
  font-size: 15px;
  color: $dark-gray;
}

.location-address {
  margin-top: 4px;
}

.dashboard-task-body-tasker {
  display: flex;
  flex-direction: column;
  width: 20%;
}

.dashboard-task-body-tasker-name {
  margin-top: 8px;
}

.dashboard-task-body-price {
  display: flex;
  flex-direction: column;
  width: 15%;
}

.dashboard-task-body-description {
  margin-top: 50px;
  margin-bottom: 50px;
}

.dashboard-task-body-description-text {
  margin-top: 8px;
}

.dashboard-task-body-vehicle-requirements {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  // border-top: 2px solid $dark-gray;
  margin-bottom: 40px;
}

.small-border {
  margin-right: 84%;
  background-color: $dark-gray;
  height: 1.4px;
}

.dashboard-task-body-vehicle-requirements-text {
  margin-top: 8px;
}

.dashboard-empty-bottom-section {
  height: 600px;
}

.toggle-details {
  border-top: 1px solid $light-gray;
  display: flex;
  justify-content: center;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cancel-modal-container {
  margin-top: -120px;
  margin-left: -150px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  width: 300px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;
}

.cancel-modal-container-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(240, 240, 240, 0.8);
}

.cancel-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cancel-modal-header {
  padding-bottom: 15px;
}

.cancel-modal-text {
  border-top: 1px solid $light-gray;
  padding-top: 25px;
}

.cancel-modal-btn {
  margin-top: 15px;
  margin-bottom: 15px;
}

.dashboard-bottom {
  width: 1200px;
}
