.dashboard {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: $lightest-gray;
}

.dashboard-head {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  h2 {
    font-weight: 400;
  }

  .task-search {
    width: 730px;
    line-height: 24px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .fa-search {
    top: 32px;
  }

  .fa-times-circle {
    top: 32px;
  }
}

.dashboard-body-header {
  margin-top: 40px;
  font-size: 17px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.dashboard-task {
  border: 1px solid $light-gray;
  background: white;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 55px;
  margin-right: 55px;
}

.dashboard-body-header-container {
  border-bottom: 1px solid $light-gray;
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.dashboard-body {
  width: 930px;
}
