.nav-bar {
  border-bottom: 1px solid $light-gray;
  padding: 14px 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.session-buttons {
  margin-right: 100px;

  a {
    margin-left: 20px;
  }
}

.logout-button {
  margin-right: 50px;
}
