.pick-tasker-form-content {
  display: flex;

  strong {
    font-weight: 400;
    vertical-align: middle;
  }
}

.date-time-picker-container {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid $light-gray;
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-right: 25px;
  width: 400px;
  height: 400px;
  align-items: center;
  border-radius: 5px;

  select {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
  }

  p {
    color: $dark-gray;
  }
}

.fa-clock-o {
  font-size: 25px;
  margin-right: 5px;
}

.calendar-input {
  margin-top: 10px;
  width: 100%;
}

.tasker {
  display: flex;
  background-color: white;
  width: 700px;
  margin-bottom: 30px;
  border: 1px solid $light-gray;
  border-radius: 5px;
  padding: 40px;
}

.tasker-main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tasker-header {
  display: flex;
  justify-content: space-between;

  h3 {
    font-weight: 700;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
    margin-bottom: 0px;
  }
}

#tasker-name {
  font-weight: 700;
  margin-bottom: 0px;
}

#tasker-price {
  margin-bottom: 35px;
}

.tasker-subheader {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $light-gray;
  padding-bottom: 12px;

  strong {
    font-weight: 300;
    margin-bottom: 6px;
    color: $dark-gray;
  }

  i {
    vertical-align: middle;
    margin-bottom: 3px;
    font-size: 19px;
    color: black;
  }
}

.tasker-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin-top: 15px;
    font-size: 16px;
    width: 170px;
    padding-left: 22px;
    padding-right: 22px;
    box-sizing: border-box;
  }
}

.tasker-profile-image {
  width: 170px;
  height: 170px;
  border-radius: 5px;
  margin-right: 25px;
}

.tasker-description {
  margin-top: 16px;

  strong {
    font-weight: 700;
    // margin-bottom: 20px;
  }

  p {
    margin-top: 8px;
    color: $dark-gray;
    line-height: 150%;
  }
}

.loader-icon {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.session-form-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;
  margin-top: -340px;
  margin-left: -230px;
  position: fixed;
  top: 50%;
  left: 50%;
}

.cancel-modal {
  margin-top: -150px;
  margin-left: -150px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: white;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 30px;
  border-radius: 5px;
}
