.pick-tasker-form-content {
  display: flex;
  box-sizing: border-box;

  strong {
    font-weight: 400;
    vertical-align: middle;
  }
}

.date-time-picker {
  // display: inline;
}

.date-time-picker-container {
  background-color: white;
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
  padding: 40px;
  margin-right: 40px;
  width: 440px;
  align-items: center;

  select {
    margin-top: 15px;
    margin-bottom: 30px;
    width: 100%;
  }
}

.fa-clock-o {
  font-size: 25px;
  margin-right: 5px;
}

.calendar-input {
  margin-top: 10px;
  width: 100%;
}
