.session-form-page {
  background-image: url('http://res.cloudinary.com/dezmnl5mf/image/upload/v1511560507/session_bg2_hqs76g.jpg');
  background-size: 1500px 800px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

.session-form-container {
  display: block;
}

.session-form {
  padding: 24px 32px;
  margin-top: 30px;
  width: 500px;
  border: 1px solid $light-gray;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 300;
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;

  button {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 434px;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
  }

  fieldset {
    min-width: min-content;
    width: 434px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }
}

.extras {
  width: 100%;
  display: flex;
  color: $dark-gray;

  a {
    color: $dark-green;
  }
}

.login-extras {
  justify-content: space-between;
}

.signup-extras {
  justify-content: flex-end;
}

.session-input:focus {
  border-color: $green;
}

#error-modal {
  background-color: #F9C339;
  color: white;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: absolute;
  text-align: center;
  top: 0;
}

.fa-times {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 27px;
}
