.splash-head {
  background-image: url("splash_head_bg.jpg");
  background-size: 1500px 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header {
  text-align: center;
}
