.splash-head {
  background-image: url("splash_head_bg.jpg");
  background-size: 1500px 1000px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header {
  text-align: center;
}

.splash-head-buttons {
  margin-top: 25px;
  width: 41%;
  height: 110px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  min-width: 600px;
}

.task-search {
  margin-top: 18px;
  padding: 12.5px;
  padding-left: 50px;
  line-height: 30px;
  width: 580px;
  font-size: 18px;
  font-weight: 300;
}

.task-search-container {
  position: relative;
}

.fa-search {
  position: absolute;
  top: 36px;
  left: 15px;
  color: $green;
  font-size: 18px;
}

.fa-times-circle {
  position: absolute;
  top: 36px;
  right: 15px;
  font-size: 20px;
  color: $gray;
  cursor: pointer;
}
