.task-search {
  margin-top: 18px;
  padding: 12.5px;
  padding-left: 50px;
  line-height: 30px;
  width: 530px;
  font-size: 18px;
  font-weight: 300;
  background-color: white;
}

.task-search::placeholder {
  font-size: 17px;
}

.task-search-container {
  position: relative;
}

#task-categories {
  position: absolute;
  width: 99.5%;
  left: 2px;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;
  background-color: white;
  z-index: 1;
}

.task-category {
  display: block;
  padding: 12px 22px;
  color: $green;
  vertical-align: middle;
}

.task-category:hover {
  background-color: #f9fafb;
}

.task-category-img {
  height: 60px;
  width: 60px;
  border-radius: 100%;
  margin-right: 25px;
}

.fa-search {
  position: absolute;
  top: 36px;
  left: 15px;
  color: $green;
  font-size: 18px;
}

.fa-times-circle {
  position: absolute;
  top: 36px;
  right: 15px;
  font-size: 20px;
  color: $gray;
  cursor: pointer;
}

.no-tasks-text-container {
  padding: 10px 20px 10px 20px;
  background-color: $lightest-gray;

  strong {
    font-size: 14px;
    font-weight: 400;
  }
}
