.task-details-subform {
  position: relative;
  margin-bottom: 10px;
  background: white;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 40px 25px;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;

  button {
    font-size: 20px;
    color: $off-white;
  }

  // strong {
  //   color: $dark-gray;
  //   font-weight: 400;
  // }
  //
  // .error-message {
  //   font-size: 14px;
  //   color: $orange;
  //   font-weight: 300;
  // }
}

.task-subform-header {
  color: #86919D;
  font-weight: 400;
}

.google-places-div {
  width: 100%;
}

.google-places-dropdown {
  width: 97%;
  left: 2px;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;
  background-color: white;
  z-index: 1;
  border: none;
}

.location-details-form-inputs {
  display: flex;
  margin-top: 27px;
  margin-bottom: 10px;

  input {
    box-sizing: border-box;
    width: 100%;
  }

  input::-webkit-input-placeholder {
    font-size: 16px;
  }

  input:focus {
    border-color: $green;
  }
}

// .location-details-form-input1 {
//   flex: 7;
//   margin-right: 15px;
// }

// .location-details-form-input2 {
//   flex: 1;
// }

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.vehicle-details-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 30px;

  input {
    width: 14px;
    margin-right: 8px;
    margin-bottom: 5px;
  }

  strong {
    color: black;
    font-weight: 400;
  }
}

.description-details-form-textarea {
  height: 150px;
  border: 1px solid $gray;
  padding: 6px 12px;
  border-radius: 3px;
  line-height: 1.5em;
  margin-top: 20px;
}

.description-details-form-textarea:focus {
  border: 1px solid $green;
}

.description-details-form-textarea::-webkit-input-placeholder {
  font-size: 16px;
}

.description-details-form {
  margin-bottom: 80px;
  p {
    margin-top: 20px;
  }
}

.description-details-form-content {
  display: flex;
  flex-direction: column;
}

.subform-text {
  margin-top: 12px;
  margin-left: 5px;
  margin-bottom: -10px;

  i {
    font-size: 18px;
    color: #86919D;
    margin-right: 8px;
  }

  .fa-car {
    font-size: 15px;
  }
}

.fa-pencil {
  position: absolute;
  top: 22px;
  right: 15px;
  cursor: pointer;
}

.fa-pencil:hover {
  color: $green;
}
