.task-details-form {
  padding-top: 40px;
  background: #F9FAFB;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 400;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
  }
}

.task-details-subform {
  margin-top: 40px;
  background: white;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;

  button {
    font-size: 20px;
    color: $off-white;
  }
}

.location-details-form-inputs {
  display: flex;
  margin-top: 27px;
  margin-bottom: 20px;

  input {
    width: 100%;
  }

  input::-webkit-input-placeholder {
    font-size: 16px;
  }

  input:focus {
    border-color: $green;
  }
}

.location-details-form-input1 {
  flex: 7;
  margin-right: 15px;
}

.location-details-form-input2 {
  flex: 1;
}

.save-button-container {
  display: flex;
  justify-content: center;
  margin-top: 25px
}

.vehicle-details-form {
  input {
    width: 14px;
    margin-right: 8px;
  }

}

.vehicle-option {
  strong {
    font-weight: 400;
  }
}
