.task-details-form {
  padding-top: 40px;
  background: #F9FAFB;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-weight: 400;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 50px;
  }
}

.task-details-subform {
  margin-bottom: 10px;
  background: white;
  width: 65%;
  display: flex;
  flex-direction: column;
  padding: 25px 25px 50px 25px;
  box-shadow: 1px 1px 6px $light-gray, -1px 1px 6px $light-gray;

  button {
    font-size: 20px;
    color: $off-white;
  }

  strong {
    color: $dark-gray;
    font-weight: 400;
  }
}

.location-details-form-inputs {
  display: flex;
  margin-top: 27px;
  margin-bottom: 40px;

  input {
    width: 100%;
  }

  input::-webkit-input-placeholder {
    font-size: 16px;
  }

  input:focus {
    border-color: $green;
  }
}

.location-details-form-input1 {
  flex: 7;
  margin-right: 15px;
}

.location-details-form-input2 {
  flex: 1;
}

.save-button-container {
  display: flex;
  justify-content: center;
}

.vehicle-details-form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 27px;
  margin-bottom: 30px;

  input {
    width: 14px;
    margin-right: 8px;
    margin-bottom: 5px;
  }

  strong {
    color: black;
    font-weight: 400;
  }
}

.description-details-form-textarea {
  height: 150px;
  border: 1px solid $gray;
  padding: 6px 12px;
  border-radius: 3px;
  line-height: 1.5em;
}

.description-details-form-textarea:focus {
  border: 1px solid $green;
}

.description-details-form-textarea::-webkit-input-placeholder {
  font-size: 16px;
}

.description-details-form {
  p {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

#Description {
  display: flex;
  flex-direction: column;
}
