.status-bar {
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  padding: 16px 112px;

  li {
    text-align: center;
  }
}

.trust-banner {
  background-color: #E8EBEF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;

  strong {
    font-weight: 700;
  }

  p {
    margin-left: 15px;
    font-size: 19px;
  }
}
